In [1]:
l = [1,2,3,4,5]

In [2]:
for data in l:
    print(data)

1
2
3
4
5

In [4]:
l

[1, 2, 3, 4, 5]

In [3]:
for i in l:
    print(i)

1
2
3
4
5

In [5]:
for i in l:
    print(l)

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]

In [6]:
for i in l:
    print(i + 100)

101
102
103
104
105

In [7]:
for i in 'Data':
    print(i)

D
a
t
a

In [8]:
names = ['Om', 'Ram','Sham', 'Ganesh','Ramesh']

In [9]:
for i in names:
    print(i)

Om
Ram
Sham
Ganesh
Ramesh

In [10]:
for i in names:
    print('My name is: '+ i)

My name is: Om
My name is: Ram
My name is: Sham
My name is: Ganesh
My name is: Ramesh

In [11]:
mix = [1,1.5,'Data',True,10+5j]

In [15]:
len(mix)

5

In [12]:
for i in mix:
    print(i)

1
1.5
Data
True
(10+5j)

In [13]:
for i in mix:
    print(i, type(i))

1 <class 'int'>
1.5 <class 'float'>
Data <class 'str'>
True <class 'bool'>
(10+5j) <class 'complex'>

In [14]:
# For loop is going to iterate data one by one.

In [16]:
range(1,11)

range(1, 11)

In [17]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [18]:
list(range(1,11))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [19]:
for i in range(5):
    print(i)

0
1
2
3
4

In [20]:
for i in range(2,11,2):
    print(i)

2
4
6
8
10

In [21]:
for i in range(1,21,3):
    print(i)

1
4
7
10
13
16
19

In [22]:
mix

[1, 1.5, 'Data', True, (10+5j)]

In [24]:
for i in mix:
    if type(i) == int:
        print(i)

1

In [25]:
type(1)

int

In [27]:
type(1.5) == int

False

In [28]:
type('Data')

str

In [29]:
p = [1,2,3,4,[10,20,30],5,6]

In [30]:
for i in p:
    print(i)

1
2
3
4
[10, 20, 30]
5
6

In [31]:
for i in p:
    print(i, type(i))

1 <class 'int'>
2 <class 'int'>
3 <class 'int'>
4 <class 'int'>
[10, 20, 30] <class 'list'>
5 <class 'int'>
6 <class 'int'>

In [32]:
for i in p:
    if type(i) == list:
        for numb in i:
            print(numb)

10
20
30

In [33]:
# FIlter out even and odd data

In [35]:
num = 5
if num % 2 == 0:
    print(even)
else:
    print('Odd')

Odd

In [36]:
# Filter out even numbers from 1 to 10 dataset

In [37]:
for i in range(1,11):
    if i % 2 == 0:
        print('Evevn number', i)

Evevn number 2
Evevn number 4
Evevn number 6
Evevn number 8
Evevn number 10

In [39]:
for i in range(1,11):
    if i % 2 != 0:
        print('Odd number', i)

Odd number 1
Odd number 3
Odd number 5
Odd number 7
Odd number 9